@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(bg.jpg);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f7073b;
    height: 50px;
    position: relative;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    color: white;
    list-style: none;
}

h1 {
    color: #f7073b;
}

h2 {
    font-size: 2.2em;
    margin: 30px 0px
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

a:hover {
    background-color: #d1e000;
    color: #f7073b;
    height: 100%;
}

li {
    height: 100%;
    width: 100%;
}

ul {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Alkatra', cursive;
}

header img {
    width: 200px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

main img {
    width: 100%;
}

footer {
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    padding: 20px;
}

footer img {
    width: 100px;
}


.hover-item {
    display: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#d1e000, #0da533);
    height: 600px;
}

.the-li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.nav-item:hover .hover-item {
    display: block;
    z-index: 99;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100vw;
}

.inside-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

header article ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header article ul li {
    display: flex;
    width: auto;
    height: auto;
}

header article img {
    width: 350px;
    margin: 50px 0 0 0;
}

header article ul li h3 {
    color: #1a1a1a;
}